.sign-in-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;

    .sign-in-btn {
        margin: 16px 0px;
    }

    .error-container {
        .error-message {
			margin: 16px 0px;
			display: flex;
			color: var(--ion-color-danger);
			font-size: 14px;
        }
    }

    .social-auth-options {
        margin-top: 30px;
    }
}