<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button [routerLink]="['..']"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Sign Up</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="sign-form-content">

	<form [formGroup]="signUpForm" (ngSubmit)="signUpWithEmail()">
		<ion-list>
			<ion-item>
				<ion-input type="email" placeholder="Email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
			</ion-item>
			<div class="error-container">
				<ng-container *ngFor="let validation of validation_messages.email">
					<div class="error-message" *ngIf="signUpForm.get('email').hasError(validation.type) && (signUpForm.get('email').dirty || signUpForm.get('email').touched)">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ validation.message }}</span>
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="password" placeholder="Repeat password" formControlName="password"></ion-input>
			</ion-item>
			<div class="error-container">
				<ng-container *ngFor="let validation of validation_messages.password">
					<div class="error-message" *ngIf="signUpForm.get('password').hasError(validation.type) && (signUpForm.get('password').dirty || signUpForm.get('password').touched)">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ validation.message }}</span>
					</div>
				</ng-container>
			</div>
		</ion-list>

		<ion-button class="sign-form-btn" expand="block" color="tertiary">
			Sign up
		</ion-button>
		<div class="error-container" *ngIf="submitError">
			<div class="error-message">
				<ion-icon name="information-circle-outline"></ion-icon>
				<span>{{ submitError }}</span>
			</div>
		</div>

		<ion-button class="sign-form-btn-wrapper" expand="block" fill="outline" color="tertiary" [routerLink]="['/sign-in']">
			Already have an account?
		</ion-button>
		
	</form>

	<div class="social-auth-options">
		<p class="options-divider">or</p>
		<ion-button class="social-auth-btn google-auth-btn" color="danger" expand="block" (click)="googleSignUp()">Google Sign Up</ion-button>
	</div>
	
</ion-content>
