/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* CSS custom elements ~ jules */

.sign-form-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;

    .sign-form-btn {
        margin: 16px 0px;
    }

    .error-container {
        .error-message {
			margin: 16px 0px;
			display: flex;
			color: var(--ion-color-danger);
			font-size: 14px;
        }
    }

    .social-auth-options {
        .options-divider {
            text-align: center;
        }
        margin-top: 30px;
    }

    .sign-in-btn-wrapper {
        justify-content: flex-end;
        align-items: center;
    }
}

.my-custom-alert .alert-wrapper {
    margin: 20px;
}